version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: doc-classifier-db
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=root
      - POSTGRES_DB=doc_classifier
    ports:
      - "5433:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    restart: always

volumes:
  db_data: